services:
  stripe-cli:
    image: stripe/stripe-cli:latest
    container_name: stripe-{{ item.name }}
    restart: unless-stopped

    env_file:
      - .env

    extra_hosts:
      - "host.docker.internal:host-gateway"

    command:
      - listen
      - --api-key
      - ${STRIPE_API_KEY}
      - --device-name
      - ${STRIPE_DEVICE_NAME}
      - --forward-to
      - ${STRIPE_FORWARD_TO}
