---
- Infrastructure:
    - Github:
        - abbr: GH
          href: https://github.com
    - Forgejo:
        - abbr: FJ
          href: http://192.168.1.84:3000
    - Hermes Docs:
        - abbr: HM
          href: https://hermes-agent.nousresearch.com/docs

- Development:
    - PictuBook App:
        - abbr: PB
          href: https://github.com/korykraft/pictubook-app
    - Infrastructure:
        - abbr: IN
          href: https://github.com/korykraft/infrastructure

- Monitoring:
    - Docker:
        - abbr: DK
          href: http://192.168.1.84:3001
