---
title: Homelab
description: Home dashboard
startUrl: {{ homepage_base_url }}
background: ""
cardBlur: sm
theme: dark
color: slate
headerStyle: boxed
layout:
  Infrastructure:
    style: row
    columns: 4
  Bookmarks:
    style: row
    columns: 4
  CI Status:
    style: row
    columns: 3
quicklaunch:
  searchDescriptions: true
  hideInternetSearch: false
  showSearchSuggestions: false
target: _self
